@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Poppins';

}

*{
    margin: 0 0;
    padding: 0 0;
}



a {
    text-decoration: none;
}

.clearfix {
    clear: both;
    float: none;
}

.container{
    border-bottom: 1px none black;
    width: auto;
    margin: 0 auto;
    padding: 1.5%;
    background-color: whitesmoke;

    .logo {
        width: 14em;
        line-height: 25px;
        text-decoration: none;
        font-weight: bold;
        color: #313131;
        font-size: 1.2em;
        border-bottom: 1px solid black;
        float: left;
        
        span{
            color: rgb(199, 21, 21);
        }
       
    }
}

.text-right{
    text-align: right;
    cursor: pointer;

}

.navigation :hover{
    margin: 2px;
    transition: 20ms;
    transform: 2%;
}


/* css for navbar section */

.navigation ul{
    list-style-type: none;
}

.navigation ul li {
    display: inline;
    padding: 1%;
    
}

.navigation ul li a{
    color: #313131;

}
 

.text-center {
    text-align: center;
    padding: 1em;
}

.clearfix {
    clear: both;
    float:none;
}

/*About Section */

.about-section {
    background-color: whitesmoke;
}

.about-section-container {
    border-bottom: none;
    padding-bottom: 1.4%;
}
.img-response {
    width: 700px;
    float: left;
}

.details {
    text-align: center;
}

.image {
    width: 200px;
    padding-top: 2.2%;
}

.h1 {
    border: 1px none black;
    margin: 2%;
    font-size: 50px;
    
}

.p {
    text-align: center;
    padding-top: 1.5%;
}

/*CSS for Gallery */ 

.gallery {
    border: 1px none black;
    padding: 3% 0;
    margin: 5%;
    position: absolute;
}


.gallery-box {
    width: 45%;
    float: left;
    margin: 1%;
    padding: 1%;
    border: 1px none #313131;   
}
    

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.float_container {
    position: relative;
}

.ord-det-container{
    width: 90%;
    margin: 0 auto;
    padding: 1%;
}

h3{
    font-size: 1.5rem;
}

fieldset{
    border: 1px solid #313131;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.btn-primary{
    background-color: red;
    cursor: pointer;
}

.btn-primary:hover{
    color: white;
    background-color: rgb(197, 66, 66);
}

.order{
    width: 100%;
}

.order-label{
    margin-bottom: 1%;
    font-weight: bold;

}

.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.art-img{
    width: 20%;
    float: left;
}

.art-order-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
    margin-top: 3.5%;
}

